<html>
<head>

    <title>
 sistema solar
    </title>
</head>
<body>

    <h1>
       sistema solar
    </h1>

    <p>texto de ejemplo  <br> alskdalkdlkasldkhakds
        aksjdkasdkahd <br> skahdskahskdjasd
        akjsdka <br> jshdkjads

    </p>
</body>

</html>